<!-- About Section -->
<section id="about" class="about-section text-center bg-light" style="background: unset;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="mb-4">Who we are and what we do?</h2>
                <p></p>We are <a href="http://helceletka.cz/robotarna">Robotárna, department of SVČ Helceletka Brno (local youth center)</a> and we are interested in electronics, programming, and mechanical designs. Shortly we are interested in everything needed for robotics.</br>
                We have organized the Robotic Camp many times, which is designed for young people from 12 years. The attendees build their own robotic toy or the whole robot every year and they can bring it home.</p>
                <div>
                    <a href="http://helceletka.cz/robotarna"><img style="max-width: 45%; float: left;" src="img/robotarna_logo_oficialni.png"></a>
                    <a href="http://helceletka.cz"><img style="max-width: 47%; float: right;" src="img/helceletka_logo.png"></a>
                </div>
                <p> </p>
            </div>
        </div>
    </div>
</section>