<!-- About Section -->
<section id="about" class="about-section text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="mb-4">Kdo jsme a co děláme?</h2>
                <p>Jsme <a href="http://helceletka.cz/robotarna">Robotárna, DDM Helceletova</a> a jsme nadšenci pro elektroniku, programování a&nbsp;mechaniku. Zkrátka vše, co je potřeba pro robotiku.</br>
                    Již mnohokrát jsme uskutečnili Robotický tábor, který je určen všem ve věku od 12 let, a&nbsp;kteří si chtějí vyrobit úžasnou technickou hračku či robota,
                    kterého si odvezou domů.</p>
                <div>
                    <a href="http://helceletka.cz/robotarna"><img style="max-width: 45%; float: left;" src="img/robotarna_logo_oficialni.png"></a>
                    <a href="http://helceletka.cz"><img style="max-width: 47%; float: right;" src="img/helceletka_logo.png"></a>
                </div>
                <p> </p>
            </div>
        </div>
    </div>
</section>