<!-- Aktuality Section -->

<!--
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <div class="row align-items-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6 text-lg-right">
            <img class="img-fluid" src="img/ruka.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="d-flex h-100">
            <div class="featured-text text-center h-100">
              <h4>Letošní tábor je již v plném proudu!</h4>
              <p class="text-black-100 mb-0">
                Po loňském úspěchu <a href="https://mickoflus.cz">Míčkoflusu</a>jsme se rozhodli vyrobit podobnou robotickou hračku i na letošní robotický tábor.</br>
                Letos si každý účastník odveze domů <a href="https://roboruka.robotickytabor.cz">Roboruku</a>, což je další skvělá robotická hračka, se kterou se mohou ovšem i účastnit mnoha robotických soutěží. </br>
                Aktuální informace můžete sledovat na našem <a href="https://www.facebook.com/robotarna/">Facebooku.</a></br>

                <a href="https://roboruka.robotickytabor.cz"><button type="submit" class="btn btn-primary mx-auto"><i class="fa fa-clipboard"></i> Roboruka</button></a>
              </p>
            </div>
            </div>
          </div>
        </div>
    </section>
-->

<section id="projects" class="projects-section bg-light">
  <div class="container">

    <div class="row align-items-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6 text-lg-right">
        <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/wfz2LIxJ6EI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <img class="img-fluid" src="img/tabor.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="d-flex h-100">
          <div class="featured-text text-center h-100">
<!--            <h4>Přihlašování na Robotický tábor 2023 je již v plném proudu!</h4>-->
            <!-- <h4>Právě probíhá Robotický tábor 2023!</h4> -->
            <h4>Robotický tábor 2023 je již za námi.</h4>
            <p class="text-black-100 mb-0">
<!--              Pojeď s námi na Robotický tábor a odvezeš si domů unikátní výtvor, který nikdo jiný nemá.</br>-->


              <!-- Než spustíme přihlašování na další rok, tak si můžete přečíst o již <a href="https://robotickytabor.cz/ohlednuti/2022.html">proběhlých táborech</a>. <br>
              Těšíme se na vás na Robotickém táboře 2023! -->

              <b>Termín:</b> 8.-15. července 2023</br>
              <b>Minimální věk:</b> 12 let</br>
              <b>Místo:</b> Sebranice u Litomyšle</br>
              <b>Cena:</b> 6600 Kč</br>
              Cena zahrnuje dopravu, ubytování, stravu 5x denně, velký výběr projektů, zajímavý odborný i zážitkový program a kvalitní odborné lektory.
              Každý účastník si své výrobky odveze domů.</br></br>


<!--              <a href="https://helceletka.cz/tabory/#id=7023" target="_blank"><button type="submit" class="btn btn-primary mx-auto"><i class="fa fa-clipboard"></i> Přihláška</button></a>-->
               <a href="https://2023.robotickytabor.cz" target="_blank"><button type="submit" class="btn btn-secondary mx-auto"><i class="fa fa-book"></i> Návody 2023</button></a>
            </p>
            <p> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="mb-4">  </br></h2>
        <p class="text-center">
          Máte rádi techniku?
          Jste zruční, nebo máte záliby v programování?
          Rádi se učíte nové věci a chtěli byste se zdokonalovat v technickém oboru?
          Chcete proniknout do tajů elektroniky, robotiky, programování, ale nevíte kde začít?
          Pak je pro vás náš Robotický tábor to pravé.</br>
          Jedinečná kombinace přírody, stanového tábora, vybavené dílny a techniky je nedílnou součástí celotýdenního zážitku.
          Tábor je vhodný pro kluky i holky s nadšením pro techniku, robotiku, programování nebo elektrotechniku.</br>
          Každý se bude věnovat projektům, které si vybere z naší nabídky.
          Projekty jsou zaměřeny na programování, stavbu nebo pájení.
          Z bohaté nabídky si vyberou začátečníci i zkušení elektronici, modeláři i programátoři.
          Individuální přístup ke každému účastníkovi je samozřejmostí.
          Nebudeme jen sedět u počítače.
          V podvečer každého dne na vás bude čekat jedinečný zážitkový program v okolí tábořiště.
          Těšit se můžete jak na tradiční táborové hry, tak i na nové týmovky, které nikde jinde nezažijete.</br>
        </p>
      </div>
    </div>
  </div>
</section>