
{{ 2021 | modulo: 2 }}
{{ 2022 | modulo: 2 }}

{% if include.year | modulo:2 == 1 %}
<div class="row justify-content-center no-gutters">
    <div class="col-lg-6">
        <img class="img-fluid" src="img/last_{{ include.year }}.png" alt="">
    </div>
    <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">Robotický tábor {{ include.year }}</h4>
                    <p class="mb-0 text-white-50">{{ include.description }}</p>
                    {% if include.manual %}<a href="{{ include.manual }}">Návody a dokumentace jsou k nalezení zde.</a>{% endif %}
                    </br>
                    {% if include.post_camp %}<a href="ohlednuti/{{ include.year }}.html">{{ include.post_camp }}</a>{% endif %}
                    </p>

                    <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
        <img class="img-fluid" src="img/last_{{ include.year }}.png" alt="">
    </div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Robotický tábor {{ include.year }}</h4>
                    <p class="mb-0 text-white-50">{{ include.description }}</p>
                    {% if include.manual %}<a href="{{ include.manual }}">Návody a dokumentace jsou k nalezení zde.</a>{% endif %}
                    </br>
                    {% if include.post_camp %}<a href="ohlednuti/{{ include.year }}.html">{{ include.post_camp }}</a>{% endif %}
                    <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}