<div class="featured-text text-center h-100">
	{% if site.camp_settings.status == "signing" %}
		<h4>Přihlašování na Robotický tábor {{ site.camp_settings.year }} je již v plném proudu!</h4>
	{% elsif site.camp_settings.status == "upcoming" %}
		<h4>Robotický tábor {{ site.camp_settings.year }} se nám blíží!</h4>
	{% elsif site.camp_settings.status == "running" %}
		<h4>Právě probíhá Robotický tábor {{ site.camp_settings.year }}!</h4>
	{% elsif site.camp_settings.status == "completed" %}
		<h4>Robotický tábor {{ site.camp_settings.year }} je již za námi.</h4>
	{% endif %}

	<p class="text-black-100 mb-0">
		{% if site.camp_settings.status == "preparing" %}
			Pojeď s námi na Robotický tábor a odvezeš si domů unikátní výtvor, který nikdo jiný nemá.</br>
			Než spustíme přihlašování na další rok, tak si můžete přečíst o již <a href="https://robotickytabor.cz/ohlednuti/{{ site.camp_settings.year }}.html">proběhlých táborech</a>. <br>
			Těšíme se na vás na Robotickém táboře {{ site.camp_settings.next_year }}!
		{% else %}
			<b>Termín:</b> {{ site.camp_settings.date }}</br>
			<b>Minimální věk:</b> 12 let</br>
			<b>Místo:</b> Sebranice u Litomyšle</br>
			<b>Cena:</b> {{ site.camp_settings.price }}</br>
			Cena zahrnuje dopravu, ubytování, stravu 5x denně, velký výběr projektů, zajímavý odborný i zážitkový program a kvalitní odborné lektory.
			Každý účastník si své výrobky odveze domů.</br></br>
			
			{% if site.camp_settings.status == "signing" %}
				<a href="https://helceletka.cz/tabory/#id={{ site.camp_settings.camp_id }}" target="_blank">
					<button type="submit" class="btn btn-primary mx-auto"><i class="fa fa-clipboard"></i> Přihláška{% if site.camp_settings.is_full %} (plná kapacita){% endif %}</button>
				</a>
			{% endif %}
			
			{% if site.camp_settings.guide %}
				<a href="{{ site.camp_settings.guide }}" target="_blank">
					<button type="submit" class="btn btn-secondary mx-auto"><i class="fa fa-book"></i> Návody {{ site.camp_settings.year }}</button>
				</a>
			{% endif %}

			{% if site.camp_settings.status == "completed" %}
				<a href="https://robotickytabor.cz/gallery">
					<button type="submit" class="btn btn-secondary mx-auto"><i class="fa fa-book"></i> Fotogalerie</button>
				</a>
			{% endif %}
		{% endif %}
	</p>
</div>