<section id="gift-banner" class="gift-banner-section bg-light"  style="margin-bottom: 50px;">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-md-10 text-center">
		  <div class="gift-banner-content">
			<h3>Udělejte radost pod stromečkem</h3>
			<h4>Darujte Robotický tábor jako vánoční dárek!</h4>

			<!-- <a href="https://robotickytabor.cz/darkovy-poukaz" target="_blank" class="btn btn-success"><i class="fa fa-gift"></i> Stáhnout dárkový poukaz</a> -->
		  </div>
		</div>
	  </div>
	</div>
</section>