<section id="last" class="projects-section bg-light">
    <div class="container">

        <!-- Tábor 2022 -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2022.png" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Robotický tábor 2022</h4>
                            <p class="mb-0 text-white-50">Na táboře v roce 2022 účastníci pracovali na různých projektech dle své libosti. Projekty byly zaměřeny na elektroniku, pájení, lepení a programování. Programování probíhalo na komerčně dostupném Micro:bitu. Vznikaly různé hry (snake) nebo různé bezdrátové hry pro více hráčů. </p>
                            <a href="https://2022.robotickytabor.cz/">Návody a dokumentace jsou k nalezení zde.</a><br>
                            <a href="/ohlednuti/2022">Ohlédnutí za táborem v roce 2022.</a>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        {% include camp_right.html
        year=2022
        description="Na táboře v roce 2022 účastníci pracovali na různých projektech dle své libosti. Projekty byly zaměřeny na elektroniku, pájení, lepení a programování. Programování probíhalo na komerčně dostupném Micro:bitu. Vznikaly různé hry (snake) nebo různé bezdrátové hry pro více hráčů."
        manual="https://2022.robotickytabor.cz/"
        post_camp="Ohlédnutí za táborem v roce 2022."
        %}

        {% include camp_right.html
        year=2021
        description="Na táboře v roce 2021 si účastníci vyrobili několik hraček, například elektronickou hrací kostku, nebo mechanický trezor s názvem BlackBox. Mimo jiné si vyzkoušeli zapájet několik úrovní SMD challenge. Hlavním výrobkem byl Logic, na kterém se učili programovat. "
        manual="https://2021.robotickytabor.cz/"
        post_camp="Ohlédnutí za táborem v roce 2021."
        %}-->

        <!-- Tábor 2021 -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2021.png" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Robotický tábor 2021</h4>
                            <p class="mb-0 text-white-50">Na táboře v roce 2021 si účastníci vyrobili několik hraček, například elektronickou hrací kostku, nebo mechanický trezor s názvem BlackBox. Mimo jiné si vyzkoušeli zapájet několik úrovní SMD challenge. Hlavním výrobkem byl Logic, na kterém se učili programovat. </br>
                                <a href="https://2021.robotickytabor.cz/">Návody a dokumentace jsou k nalezení zde.</a>
                                </br>
                                <a href="/ohlednuti/2021">Ohlédnutí za táborem v roce 2021.</a>
                            </p>

                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tábor 2020 -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2020.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Robotický tábor 2020</h4>
                            <p class="mb-0 text-white-50">V roce 2020 si naši účastníci na táboře postavili a naprogramovali <a href="https://robotka.robotickytabor.cz/">Robotku</a>, kterou si následně mohli vylepšovat pomocí různých senzorů a kosmetických vylepšení. Tato vylepšení přišla vhod poslední den tábora, na který byly připraveny různé soutěže.</br>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tábor 2019 -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2019.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Robotický tábor 2019</h4>
                            <p class="mb-0 text-white-50">V průběhu roku 2019 jsme pro všechny účastníky připravili <a href="https://roboruka.robotickytabor.cz/">Roboruku</a>, kterou si každý z účastníků tábora sestavil. Poslední den se uspořádaly soutěže, aby mohli všichni poměřit síly svých robotů a vyzkoušet si všemožné druhy soutěží.</br>
                                <a href="https://robotikabrno.cz/robotarna/tabory/ohlednuti-za-robotickym-taborem-2019">Ohlédnutí za táborem v roce 2019.</a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tábor 2018 -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2018.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Robotický tábor 2018</h4>
                            <p class="mb-0 text-white-50">V roce 2018 jsme vyráběli s dětmi robotickou hračku <a href="https://mickoflus.cz" target="_blank">Míčkoflus</a>.</br>
                                <a href="https://robotikabrno.cz/robotarna/tabory/ohlednuti-za-robotickym-taborem-2018">Ohlédnutí za táborem v roce 2018.</a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tábor 2017 -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2017.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Robotický tábor 2017</h4>
                            <p class="mb-0 text-white-50">V roce 2017 si účastníci našeho tábora odvezli vývojovou desku <a href="https://github.com/RoboticsBrno/ArduinoLearningKitStarter" target="_blank">ALKS</a> (Arduino Learning Kit Starter) s velmi zajímavým čipem ESP32, který jsme programovali přes platformu Arduino.</br>
                                <a href="https://robotikabrno.cz/robotarna/tabory/ohlednuti-za-robotickym-taborem-2017">Ohlédnutí za táborem v roce 2017.</a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tábor 2016 -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/last_2016.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Robotický tábor 2016</h4>
                            <p class="mb-0 text-white-50">V roce 2016 jsme účastníkům rozdali vývojový modul Arduino Nano. Naučili se základy programování a elektroniky. Poté používali všemožné moduly ke svému projektu, který si sami vymysleli. Někteři použili senzor teploty a tlaku k vypisování hodnot na displej, nebo inteligentní LED pásky k zajímavým barevným kreacím.</br>
                                <a href="https://robotikabrno.cz/robotarna/tabory/ohlednuti-za-robotickym-taborem-2016">Ohlédnutí za táborem v roce 2016.</a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>