<!-- Social -->
<div class="social d-flex justify-content-center">
    <a href="https://twitter.com/robotikabrno" class="mx-2">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/robotarna" class="mx-2">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://github.com/roboticsbrno" class="mx-2">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCxLGjiNwJ9u7Wdb1kahaHgg" class="mx-2">
        <i class="fab fa-youtube"></i>
    </a>
</div>