<!-- Sponsors -->
<section id="partners" class="contact-section bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8  mx-auto">
                <div clas="text-center my-auto">
                    <h2 class="title">Partners</h2>
                    <p class="text-black-100">Our camp is continuously supported by our partners. We would not be able to organize the camp in its current form without them and we are eternally grateful to them.</p>
                </div>
                {% include sponsors_list.html %}
            </div>
        </div>
    </div>
</section>