<!-- Sponsors -->
<section id="partners" class="contact-section bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8  mx-auto">
                <div clas="text-center my-auto">
                    <h2 class="title">Partneři</h2>
                    <p class="text-black-100">Již po několik let náš tábor podporují tito partneři, bez kterých bychom tábor nedokázali zorganizovat do takové podoby, v jaké jej můžete navštívit. Chtěli bychom jim tímto poděkovat.</p>
                </div>
                <div class="row" style="padding-bottom: 1rem">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <a target="_tab" href="https://www.avast.com/cs-cz/"><img style="max-width: 100%" src="img/partners/avast.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <a target="_tab" href="https://www.redhat.com/en/global/czech-republic"><img style="max-width: 100%" src="img/partners/redhat.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <a target="_tab" href="https://www.gatema.cz/"><img style="max-width: 100%" src="img/partners/gatema.svg"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 1rem">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <a target="_tab" href="https://www.fablabbrno.cz/"><img style="max-width: 100%" src="img/partners/fablab.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <a target="_tab" href="https://www.soselectronic.cz/"><img style="max-width: 100%" src="img/partners/sos.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <a target="_tab" href="http://www.tiskarna-letovice.cz/"><img style="max-width: 100%" src="img/partners/tiskarna_letovice.png"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>